**/node_modules/
dist/
build/
*.egg-info/
__pycache__/
requirements.txt
*.log
*.env
*.pyc
*.pyo
.DS_Store
.idea/
.vscode/
*.swp
*.swo
.env/
*.bak
*.tmp
*.zip
*.tar.gz
*.egg
.venv/
frontend/build-v2/
chatbar_media/frontend/build-v2/
**/node_modules/
dist/
*.egg-info/